.container-general {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(135deg, #1d1e20 0%, #858d9d 69%);
}
  
  .register-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  
    h2 {
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
  
        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }
  
      .error-message {
        color: #e74c3c;
        margin-top: 5px;
        font-size: 14px;
      }
    }
  
    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
  