
<app-header></app-header>
<div class="container">
    <!-- <label for="elegant-select" class="select-label">:</label> -->
    <h3>Elige una opción</h3>
    <div class="select-wrapper">
        <select id="elegant-select" class="elegant-select" (change)="onSelectChange($event)">
            <option  value=""></option>
            <option *ngFor="let breed of breeds" [value]="breed.id">{{ breed.name }}</option>
        </select>
    </div>
</div>

<app-carousel
    [cats]="cats"
></app-carousel>


<h3 style="text-align: center;">Todas las Razas</h3>
<app-table-cat-detail
 [breeds]="breeds">
</app-table-cat-detail>

<app-footer></app-footer>
