
<app-header></app-header>
<div class="container">
    <!-- <label for="elegant-select" class="select-label">:</label> -->
    <h3>Elige una opción</h3>
    <div class="select-wrapper">
        <select id="elegant-select" class="elegant-select" (change)="onSelectChange($event)">
            <option value="option1">Opción 1</option>
            <option value="option2">Opción 2</option>
            <option value="option3">Opción 3</option>
            <option value="option4">Opción 4</option>
        </select>
    </div>
</div>

<app-carousel></app-carousel>

<app-footer></app-footer>
