<footer class="footer">
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
        <fa-icon [icon]="faLinkedinIn"></fa-icon>
      </a>
    </div>
    <div class="footer-text">
      &copy; 2024 Mi Sitio Web. Todos los derechos reservados.
    </div>
  </footer>
  